main {
    display: flex;
    flex-direction: column;
    padding: 16px 32px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.profile h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.profile p {
    font-size: 16px;
    margin: 5px 0px 20px;
}

.profile button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(19, 244, 177);
}

.profileForm {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.profileForm label {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.profileForm input {
    width: 100%;
    margin: 5px 0px 20px;
    height: 40px;
    padding-left: 5px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.profileForm .btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0px 50px 30px;
}

.profileForm .btnContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.discardBtn {
    background-color: red;
}

.confirmBtn {
    background-color: greenyellow;
}


@media screen and (max-width: 576px) {
    main {
        padding: 8px 16px 70px;
    }

    .profile {
        margin: 30px 0px;
    }

    .profile h2 {
        font-size: 26px;
    }

    .profile p {
        font-size: 16px;
        margin: 0px 0px 20px;
    }

    .profile button {
        width: 120px;
        font-size: 14px;
    }

}