*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    /* background-color: aqua; */
    padding-top: 110px; 
}
header{
    align-content: center;
    /* position: fixed; */
    /* margin-top: -10px; */
    /* top: 0px; */
    /* left: 0; */
    width: 100vw;
    /* background-color: white;  */
    z-index: 1000;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}
/* LAPTOP NAV  */
nav{
    display: flex;
    position: relative;
    left: 33em;
    bottom: 70px;
}
#Laptop-Nav nav li{
    top: -2.3em;
    position: relative;
    margin-right: 23px;
    /* gap: 20px; */
    list-style-type: none;
}
#Laptop-Nav nav a{
    color: #000;
    margin-right: 24px;
    text-decoration: none;
    margin-right: 4px;
}

main{
    position: relative;
    margin-top: -21em; 
}
#LOGO{
    align-items: center;
}
/* MOBILE  */
#LOGO h3 a{
    color: #000;
    text-decoration: none;
    position: absolute;
    left: 30%;
    top: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cart-icon a{
position: absolute;
left: 89%;
top: 1.5em;

text-decoration: none;
list-style-type: none;
color: black;
}

/* Login and signup section  */
#log-section{
    display: flex;
}
#log-section a {
    padding: 5px;
    font-size: 14px;
    border: 1px solid  rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#dropdown_svg{
    top: 0.5em;
    position: relative;
    align-items: flex-start;
    min-width: 50%;
    min-height: 50%;
}
.Dropdown-container{
/* z-index: 2; */
position: relative;
display:block;
/* border-radius: 4px;
background: rgba(0, 0, 0, 0.04);
max-height: 20%;
backdrop-filter: blur(75px); */

}
.Dropdown-content{
position: absolute;
border-radius: 4px;
background: #f8f7f7;
width: 80%;
padding: 10px;
z-index: 3;
display: none;

/* Add transition property for smooth animation */
transition: transform 0.3s ease-in-out;
transform: translateX(-110%); /* Initial position outside the viewport */
}
.Dropdown-content a {
    text-decoration: none;
    color: black;
}
.Dropdown-content ul li {
font-size: 14px;
padding: 5px 10px;
list-style-type: none;
}
/* .Dropdown-container:hover .Dropdown-content{
  display: flex;
}

.Dropdown-container.clicked .Dropdown-content {
    transform: translateX(0); 
} */

#Search_bar{
justify-content: center;
position: relative;
bottom: 10px;
background: rgba(0, 0, 0, 0.04);
top: 2px;
/* left: 3px; */
height: 1.8em;
border-radius: 8px;
}
#Search_bar p{
    position: absolute;
    font-size: 10px;
    left: 55px;
    top: 8px;
    color: rgb(183, 183, 183);
}
.Search_logo svg{
    margin: 4px 4px ;
}

/* MAIN AREA  */
/* HERE SECTION  */
section {
    margin-top: 100px;
    margin-bottom: 30px;
}
/* CATEGORIES SECTION  */
.categories-laptop{
    margin-top: -70px;
    margin-left: 11em;
    
}
.categories-laptop li a{
    position: relative;
    top: -50px;
    color: #000;
   text-decoration: none;
}
.categories-laptop li {
    margin-top: 30px;
    list-style-type: none;
}

/* MOBILE SCREEN  */
.Hero-text1 h3{
position: relative;
bottom: 30px;
left: 20px;
bottom: 45px;
color: white;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125%
letter-spacing: 1.90px; */
}
.Hero-text2{
position: relative;
left: 22px;
bottom: 20px;
align-items: center;
display: flex;
color: white;
gap: 5px;
}
.Hero-text2 h5{
color: var(--Text, #FAFAFA);
text-align: center;

/* Title/16PX Medium */
font-size: 10px;
font-style: normal;
font-weight: 500;
}

/* LAPTOP SCREEN START HERE  */

/* .sales1 , .sales2{
    margin-bottom: -20px;
}
.sales3 {
    margin-top: 20px;
}
.sales2 , .sales4{
    margin-left: 28px;
    margin-top: 20px;
} */

/* LAPTOP SCREEN  */
section{
    display: flex;
    margin: 15px 15px;
    margin-top: 0px;
}
.Todays-text{
display: flex;
align-items: center;
gap: 10px;
font-size: 1em;
color: var(--Secondary-2, #DB4444);
}
.Todays-text svg {
max-height: 20px;
}
.Todays-text p {
font-size: 20px;
}

.Detials{
    position: relative;
}
.Discount{
border-radius: 4px;
background: var(--Secondary-2, #DB4444);
}
.Item{
margin-top: 10px;
border-radius: 4px;
background: var(--Secondary, #F5F5F5);
width: 250px;
height: 240px;
}
.sales1 .Item img{
    position: absolute;
    /* max-width: 80px; */
    top: 18px;
    left: 16.5px;
}
.sales2 .Item img{
    position: absolute;
    /* max-width: 100px; */
    top: 28px;
    left: 16.5px;
}
.sales3 .Item img{
    position: absolute;
    /* max-width: 80px; */
    top: 30px;
    left: 23px;
}
.sales4 .Item img{
    position: absolute;
    /* max-width: 60px; */
    top: 15px;
    left: 25px;
}
.item-text h4{
margin-top: 30px;
}
.item-text h4{
position: relative;
top: 12em;
color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.Item-price {
color: var(--Secondary-2, #DB4444);
/* Title/16PX Medium */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
display: flex;
position: relative;
gap: 10px;
top: 30px;
align-items: center;
}
.disprice p{
    font-size: 15px;
    color: #999898;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: line-through;
}
.Five-star1{
    gap: 5px;
    display: flex;
    position: relative;
    top: 30px;
}
.Five-star1 p{
position: relative;
top: 0.5px;
color: #999898;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 150% */
}

.Line{
margin-left: auto;
margin-right: auto;
margin-top: 30px;
height: 1px;
opacity: 0.3;
background: #000;
}
/* STOP HERE FOR LAPTOP SCREEN   */


/* CATEGORIES SECTION  */
.categories-section{
    margin: 20px 15px 0px;
}
.categories-section h3{
    color: var(--Text2, #000);
    /* Heading/36PX SemiBold */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 10px 5px 0px;
}
.main-categories{
display: flex;
margin: 10px 0px 0px 0px;
}
.Box1{
margin: 20px 10px 0px 5px;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.30);
padding: 20px; 
width: 90px;
height: 80px;
}
.Box1 img{
    position: relative;
    right: -3px;
    bottom: 15px;
    max-width: 70px;
    max-height: 60px;
}
.Box1 p{
    margin-top: 5px;
    position: relative;
    right: -1px;
    bottom: 19px;
    font-size: 12px;
}

/* ADS SECTION  */
.Advertisement img{
    /* position: relative; */
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* left: 14px; */
}

.Featured h3{
    margin-top: -10px;
    position: relative;
    right: 13.5px;
}
/* .Featured-images{
    margin-top: 15px;
} */
/* SERVICES SECTION  */
.Services{
    display: flex;
}
.Services img{
    max-width: 35px;
}
.Services-text h5{
color: #000;
/* Title/20PX Semibold */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 140% */
}

/* FOOTER SECTION  */


/* LAPTOP SCREEN  */
@media (min-width: 992px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        /* display: flex; */
    }
    .Dropdown-container{
        display: none;
    }
    #Search_bar{
        max-width: 300px;
        position: relative;
        left: 58em;
        top: -9em;
    }
    #LOGO h3{
        position: relative;
        top: -6em;
        right: 14em;
    }
    #Laptop-Nav{
        position: relative;
        top: 1em;
    }
    .Line2{
        position: relative;
        top: -6em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 1px;
        opacity: 0.3;
        background: #000;
        }
    .Line3{
        position: relative;
        top: -18.3em;
        right: 22em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        height: 1px;
        width: 460px;
        opacity: 0.3;
        background: #000;
        transform: rotate(90deg);
        }
        .Hero-main{
            background-color: #000;
            position: relative;
            left: 25em;
            top: -32em;
            width: 950px;
            height: 450px;
        }
        .Hero-main img{
            position: relative;
            top: 5em;
            left: 25em;
        }
        .Hero-text1 h3{
            position: relative;
            top: -4em;
            left: 2em;
            bottom: 45px;
            color: white;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px; /* 125%
            letter-spacing: 1.90px; */
            }

            .Hero-text2 h5{
                color: var(--Text, #FAFAFA);
                text-align: center;
                /* Title/16PX Medium */
                font-size: 30px;
                font-style: normal;
                font-weight: 500;
            }
            .Hero-text2{
                position: relative;
                left: 8em;
                top: -10em;
                align-items: center;
                display: flex;
                color: white;
                gap: 5px;
            }
        
            
            /* SERVICES AND FOOTER AREA  */
            .Services {
                margin-top: 1em;
                margin-bottom: 1em;
                justify-content: center ;
            }
            .service1 , .service2 , .service3{
                margin-right: 2em;
            }
            .service1 img , .service2 img  , .service3 img{
                position: relative;
                left: 6em;
            }
            .Services-text{
                text-align: center;
                justify-content: center;
            }
            .Services-text p{
                font-size: 12px;
            }

            footer{
                /* height: 220px; */
                padding-top: 20px;
                justify-content: center;
                display: flex;
                background-color: #000;
                color: white;
            }
            .Footer1 , .Footer2{
                display: flex;
            }
            .Copyright{
                position: absolute;
                margin-top: 10em;
                align-items: center;
                justify-content: center;
                display: flex;
                color: rgb(135, 135, 135);
                background-color: #000;
                text-align: center;
                /* margin-bottom: 20px; */
            }
            .Part1 , .Part2{
                margin-bottom: 6px;
                margin-left: 5em;
            }
            .Part1 h4, .Part2 h4{
                margin-bottom: 5px;
                font-size: 20px;
            }
            .Part1 p, .Part2 p{
                margin-bottom: 5px;
                font-size: 14px;
            }
}
    

/* mobile screen  */
@media (max-width: 576px){
    *{
        /* width: 100%vw; */
    }
    body{
        background-color: white;
        overflow-x: hidden;
    }
    #max-width{
        max-width: 100%vw;
    }
    header{
        align-content: center;
        position: fixed;
        margin-top: -10px;
        top: 0px;
        left: 0;
        max-width: 100vw;
        background-color: white; 
        z-index: 1000;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    main{
        justify-content: center;
        margin-top: 40px; 
         /* /* Adjust margin to leave space for the fixed header  */
    }
    #Laptop-Nav{
        display: none;
    }
    .Five-star1{
        align-items: center;
    }
    .Five-star1 img{
        max-width: 60px;
        max-height: 10px;
    }
    .Five-star1 p{
        font-size: 10px;
        font-style: normal;
    }
    .Line{
        max-width:150px;
    }
    .Box1 img{
        max-width: 40px;
    }
    .Advertisement img{
        height: auto;
        max-width: 100%;
    }
    .Advertisement{
        margin-left: auto;
        margin-right: auto;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .image1 img{
        max-width: 295px;
    }
    .image2 img , .image3 img{
        max-width: 152px;
    }
    .Hero-section {
        justify-content: center;
        background: var(--Text2, #000);
        /* come back to this  */
        /* min-height: 150px */
    }
    .Hero-section img{
        max-width: 100px;
        position: relative;
        width: 100vw;
        top: 3em;
        left: 9em;
    }
    .Hero-info{
        position: absolute;
    }

    /* DROP DOWN AREA  */
    .Dropdown-container{
        z-index: 2;
        position: relative;
        display:block;
        border-radius: 4px;
        /* background: rgba(0, 0, 0, 0.04); */
        max-height: 20%;
        /* backdrop-filter: blur(75px); */
        
        }
        .Dropdown-content{
        position: absolute;
        border-radius: 4px;
        background: #f8f7f7;
        width: 80%;
        padding: 10px;
        z-index: 3;
        display: none;
        
        /* Add transition property for smooth animation */
        transition: transform 0.3s ease-in-out;
        transform: translateX(-110%); /* Initial position outside the viewport */
        }
        .Dropdown-content a {
            text-decoration: none;
            color: black;
        }
        .Dropdown-content ul li {
        font-size: 14px;
        padding: 5px 10px;
        list-style-type: none;
        }
        .Dropdown-container:hover .Dropdown-content{
          display: flex;
        }
        
        .Dropdown-container.clicked .Dropdown-content {
            transform: translateX(0); /* Move to the center of the viewport when clicked */
        }
        
        .categories-laptop{
            display: none;
        }


        /* TODAYS SECTION  */
        .sales1 , .sales2{
            margin-bottom: -20px;
        }
        .sales3 {
            margin-top: 20px;
        }
        .sales2 , .sales4{
            margin-left: 28px;
            margin-top: 20px;
        }
        
        section{
            justify-content: center;
            display: flex;
            margin: 15px 15px;
            margin-top: 20px;
        }
        .Todays-text{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1em;
        color: var(--Secondary-2, #DB4444);
        }
        .Todays-text svg {
        max-height: 20px;
        }
        .Todays-text p {
        font-size: 13px;
        }
        
        .Detials{
            position: relative;
        }
        .Discount{
        border-radius: 4px;
        background: var(--Secondary-2, #DB4444);
        }
        .Item{
        margin-top: 10px;
        border-radius: 4px;
        background: var(--Secondary, #F5F5F5);
        width: 130px;
        height: 120px;
        }
        .sales1 .Item img{
            position: absolute;
            max-width: 80px;
            top: 18px;
            left: 16.5px;
        }
        .sales2 .Item img{
            position: absolute;
            max-width: 100px;
            top: 28px;
            left: 16.5px;
        }
        .sales3 .Item img{
            position: absolute;
            max-width: 80px;
            top: 30px;
            left: 23px;
        }
        .sales4 .Item img{
            position: absolute;
            max-width: 60px;
            top: 15px;
            left: 25px;
        }
        .item-text h4{
        position: relative;
        top: 120px;
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        }
        
        .Item-price {
        color: var(--Secondary-2, #DB4444);
        /* Title/16PX Medium */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        display: flex;
        position: relative;
        font-size: 10px;
        gap: 10px;
        top: 15px;
        align-items: center;
        }
        .disprice p{
            font-size: 10px;
            color: #999898;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-decoration-line: line-through;
        }
        .Five-star1{
            /* border: 2px solid black; */
            gap: 5px;
            display: flex;
            position: relative;
            top: 10px;
        }
        .Five-star1 p{
        position: relative;
        top: 0.5px;
        color: #999898;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px; /* 150% */
        }
        
        .Line{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        /* min-width:80px; */
        height: 1px;
        opacity: 0.3;
        background: #000;
        }
        .main-categories{
            justify-content: center;
        }
        .Advertisement img{
            justify-content: center;
        }
        .Services{
            display: none;
        }
        footer{
            background-color: #000;
            color: white;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        footer h4 , p{
            font-size: 8px;
            /* display: none; */
        }
        .Part1, .Part2 {
           margin-top: 10px;
        }
        .Part1 {
            position: relative;
            top: 1em;
            right: 4.7em;
        }
        .Part1 h4 , .Part2 h4{
            font-size: 14px;
            margin-bottom: 5px;
        }
        .Part2 {
            position: relative;
            left: 5em;
            top: -5.6em;
        }

        .Copyright{
            /* position: absolute; */
            margin-top: -2em;
            align-items: center;
            justify-content: center;
            display: flex;
            color: hsl(0, 0%, 53%);
            background-color: #000;
            text-align: center;
        }
        .Copyright p {
            justify-content: center;
            text-align: center;
            text-align: center;
        }

.Featured{
    margin-left: 13px;
    margin-top: 30px;
}
.Featured h3{
    margin-top: -10px;
    position: relative;
    right: 13.5px;
}
.Featured-images{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}
.Flex-image{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.image2 img , .image3 img{
position: relative;
right: 5px;
padding: 5px;

}
}